.navbar {
  display: flex;
  background-color: #fff; /* koyu gri / modern ton */
  padding: 15px 20px;
  gap: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar a {
  color: #f3f4f6; /* açık renk */
  background-color: #000;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: #000; /* mavi hover */
  color: white;
}

.navbar a.active {
  background-color: #000;
  color: white;
}
